<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lebengy.goldenmenu">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldenMenu"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GoldenMenu.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarteVinsActivity"
            android:label="Les Rouges"
            android:parentActivityName=".AccueilVins"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GoldenMenu.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lebengy.goldenmenu.AccueilVins" />
        </activity>
        <activity
            android:name=".AccueilVins"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GoldenMenu.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lebengy.goldenmenu.MainActivity" />
        </activity>
        <activity android:label="@string/title_activity_les_menus" android:name="com.lebengy.goldenmenu.LesMenus" android:parentActivityName="com.lebengy.goldenmenu.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.MainActivity"/>
        </activity>
        <activity android:label="Les Blancs" android:name="com.lebengy.goldenmenu.vinsBlancTab.VinBlancActivity" android:parentActivityName="com.lebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Les Rosés" android:name="com.lebengy.goldenmenu.soloPageVin.RoseActivity" android:parentActivityName="com.lebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="@string/title_activity_rose" android:name="com.lebengy.goldenmenu.soloPageVin.MagnumActivity" android:parentActivityName="com.lebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="@string/title_activity_rose" android:name="com.lebengy.goldenmenu.soloPageVin.BiereActivity" android:parentActivityName="com.lebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="@string/title_activity_rose" android:name="com.lebengy.goldenmenu.soloPageVin.ChampagneActivity" android:parentActivityName="com.lebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="@string/title_activity_rose" android:name="com.lebengy.goldenmenu.soloPageVin.VinAuVerreActivity" android:parentActivityName="com.lebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Les demies bouteilles" android:name="com.lebengy.goldenmenu.demibouteillesTab.DemiBouteillesActivity" android:parentActivityName="com.lebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Le bar" android:name="com.lebengy.goldenmenu.barTab.BarActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.lebengy.goldenmenu.AccueilVins"/>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>