<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  * Copyright (c) 2025 Florian Nadin
  ~  * All rights reserved.
  ~  * Last modified 22/08/2022 17:00
  ~  *
  ~  * Ce fichier fait partie du logiciel cédé conformément au contrat signé entre les parties.
  ~  *
  ~  * Toute utilisation, modification ou distribution du code source est soumise aux conditions de la cession :
  ~  * - Le logiciel est fourni en l'état, sans garantie d'aucune sorte.
  ~  * - L'utilisation est restreinte à l'usage prévu par le cessionnaire.
  ~  * - Toute reproduction ou commercialisation du code sans autorisation expresse est interdite.
  ~  * - Le cessionnaire est tenu de préserver la confidentialité du code source.
  ~  *
  ~  * Voir le fichier README.md pour plus de détails sur les conditions d'utilisation.
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saslebengy.goldenmenu">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldenMenu"
        tools:targetApi="31">
        <activity
            android:name="com.saslebengy.goldenmenu.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GoldenMenu.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saslebengy.goldenmenu.CarteVinsActivity"
            android:label="Les Rouges"
            android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GoldenMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saslebengy.goldenmenu.AccueilVins" />
        </activity>
        <activity
            android:name="com.saslebengy.goldenmenu.AccueilVins"
            android:label="Carte des vins"
            android:parentActivityName="com.saslebengy.goldenmenu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GoldenMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saslebengy.goldenmenu.MainActivity" />
        </activity>
        <activity android:label="@string/title_activity_les_menus" android:name="com.saslebengy.goldenmenu.LesMenus" android:parentActivityName="com.saslebengy.goldenmenu.MainActivity" android:screenOrientation="portrait" android:theme="@style/Theme.GoldenMenu">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.MainActivity"/>
        </activity>
        <activity android:label="Les Blancs" android:name="com.saslebengy.goldenmenu.vinsBlancTab.VinBlancActivity" android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Les Rosés" android:name="com.saslebengy.goldenmenu.soloPageVin.RoseActivity" android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Nos Magnums" android:name="com.saslebengy.goldenmenu.soloPageVin.MagnumActivity" android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Nos Bières" android:name="com.saslebengy.goldenmenu.soloPageVin.BiereActivity" android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Nos Champagnes" android:name="com.saslebengy.goldenmenu.soloPageVin.ChampagneActivity" android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Nos vins au verre" android:name="com.saslebengy.goldenmenu.soloPageVin.VinAuVerreActivity" android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Les demies bouteilles" android:name="com.saslebengy.goldenmenu.demibouteillesTab.DemiBouteillesActivity" android:parentActivityName="com.saslebengy.goldenmenu.AccueilVins" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>
        <activity android:label="Le bar" android:name="com.saslebengy.goldenmenu.barTab.BarActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.saslebengy.goldenmenu.AccueilVins"/>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>